
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: #575757;
}

section {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login button {
    background-color: #3498db;
}

#data-display {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-form,
#filter-form {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

#search-form h2,
#filter-form h2 {
    margin-bottom: 10px;
}

#search-form input,
#filter-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#search-form button,
#filter-form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#display-container {
    margin: 0 auto;
    text-align: center;
}

.game-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.game-entry h3 {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    body{
      flex-direction: column;
    }
    body {
      flex-basis: 100%;
    }
  }